@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Italianno&family=Roboto:ital,wght@0,300;0,400;0,500;1,300&display=swap');


:root {
    --primary: #29e9bc;
    --normal: #ffffff;
    --black: #131313;
    --bg: #0c1013;
    --danger: #f75842;
    --border: 0.1rem solid rgba(255, 255, 255, 0.3);

    --container-width-lg: 80%;
    --container-width-md: 90%;
    --container-width-sm: 94%;
}

body {
    background-color: var(--bg);
}



* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    transform: all 0.5s linear;
    transition: all 0.5s linear;
    font-family: 'Creepster', cursive;
    font-family: 'Italianno', cursive;
    font-family: 'Roboto', sans-serif;

}



.btn {
    display: inline-block;
    background-color: var(--primary);
    color: var(--black);
    padding: 0.8rem 2.3rem;
    border: 1px solid transparent;
    border-radius: 0.3rem;
    font-weight: 500;
    font-size: 17px;
}

.btn:hover {
    color: var(--primary);
    background-color: transparent;
    border-color: var(--primary);
}



.border-bottom {
    border-bottom: 2px solid var(--primary);
    text-align: center;
    display: inline-block;
    color: var(--primary);
    margin-bottom: 2.5rem;
    margin-left: 625px;
    font-size: 35px;
}



nav {
    width: 100%;
    height: 5rem;
    background-color: var(--black);
    position: fixed;
    z-index: 100;
}

.nav-container a {
    text-decoration: none;
}



.nav-container {
    display: flex;
    align-items: center;
    height: 100%;
}


.nav-container h1 {
    color: var(--primary);
    font-weight: 600;
    font-size: 2rem;
    margin-left: 50px;
}


.nav-container span {
    color: #ffffff;

}

.nav .nav-item a {
    text-decoration: none;
}


.nav-container h1:hover {
    transform: rotateX(360deg);
    transition-duration: 1s;
    display: inline-block;
    color: var(--primary);
}


.nav-item {
    display: flex;
    align-items: center;
    gap: 3rem
}





/* .nav-item {
    color: var(--normal);
    font-weight: 600;
    font-size: 18px;

} */


.nav-container button {
    display: none;
}

.nav-container a {
    color: var(--normal);
    font-weight: 600;
}


.nav-container a:hover {
    color: var(--primary);
    border-bottom: 3px solid var(--primary);
    padding-bottom: 0.8rem;

}


.nav-container ul {
    margin-left: 400px;
}


.hader-container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.hader-container .hader-left {
    width: 50%;
    overflow: hidden;
    float: left;
    height: 100vh;
}

.hader-container .hader-left img {
    overflow: hidden;
    width: 100%;
    margin-top: 5rem;
    opacity: 0;
    animation: moveup 1s linear forwards;
    transform: translateY(100px);
}

@keyframes moveup {
    100% {
        opacity: 1;
        transform: translateY(0px)
    }

}










.hader-container .hader-right {
    overflow: hidden;
    position: relative;
    padding-top: 250px;
    padding-left: 100px;

}






.hader-container .hader-right .text-1 {
    font-weight: 300;
    font-size: 35px;
    color: var(--normal);
    margin-bottom: 25px;
}


.hader-container .hader-right .text-2 {
    color: var(--normal);
    font-weight: 900;
    font-size: 40px;
    margin-bottom: 25px;
}

.hader-container .hader-right .text-3 {
    font-weight: 300;
    font-size: 35px;
    color: var(--normal);
    margin-bottom: 20px;
}


.about h2 {
    margin: 50px;
    margin-left: 625px;
    margin-top: 100px;
}

.about {
    width: 100%;
    height: 500px;
}

.about .img {
    width: 25%;
    float: left;
}


.about .img img {
    width: 150px;
    overflow: hidden;
    border-radius: 50%;
    border: 3px solid var(--primary);
    margin-left: 87px;
}


.about span {
    color: #ffffff;
    font-weight: 500;
    font-size: 20px;
    margin: 10px;
    display: inline-block;
}

.about .text {
    overflow: hidden;
    width: 70%;
}


.about p {
    color: #ffffff;
    font-weight: 500;
    font-size: 18px;
    margin: 10px;
    margin-left: 10px;
}

.about .container .button-1 {
    margin-left: 200px;
    display: inline-block;

}

.Service .cards {
    display: flex;

}

.Service .cards .card {
    width: 30%;
    float: left;
    color: var(--bg);
    margin: 20px;
    background-color: var(--primary);
    padding: 20px;
    border-radius: 10px;
    position: relative;


}


.hader-container .hader-right .tyoing-bar {
    color: var(--primary);
    display: inline-block;
    font-size: 39px;
    font-weight: 600;


}


.about .typing-bar-2 {
    color: var(--primary);
    font-size: 25px;
    display: inline-block;
    font-weight: 600;
    margin: 0;
    padding: 0;

}


.Service .cards .card::after {
    content: ;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    transition: 1s;


}



.Service .cards .card:hover::after {
    transform: rotate(13deg);
}


.progress {
    transition: 1s;
    margin-bottom: 10px;
    height: 20px;
}

.skills .new {
    margin-top: 120px;
}

.skills .progress {
    margin-bottom: 30px;
    background-color: #CAD3C8;
    transition: 1s;
}

.skills .skills-container span {
    display: inline-block;
    color: #FFF;
    font-weight: 500;
    font-size: 17px;
}


.skills-container {
    padding: 50px;
    width: 60%;
    background-color: #3d3a3a;
    margin: auto;
    transition: 1s;
    margin-bottom: 100px;
    border-radius: 20px;
    box-shadow: 16px -17px 17px -3px rgba(41, 233, 188, 0.74);
}


.Service .cards .card .fa-solid {
    margin: auto;
    display: inline-block;
    padding: 30px;
    background-color: var(--black);
    color: #ffffff;
    border-radius: 50%;
    font-size: 30px;
    margin-top: 15px;
    margin-bottom: 15px;

}


.Service .cards .card .fa-solid:hover {
    background-color: #ffffff;
    color: #131313;
    animation: moveup 1s linear forwards;
    transform: translateY(100px);

}














.Service .cards .card .btns {
    padding: 10px 15px;
    border-radius: 8px;
    background-color: var(--black);
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
    transition: 1s;
}


.Service .cards .card .btns:hover {
    background-color: #FFF;
    color: var(--bg);
}


.contact-section {
    margin-top: 200px;
    margin-bottom: 100px;
}


.contact-section .col-md-4 #black {
    margin-top: 100px;
    margin-left: 80px;
}


.contact-section .col-md-4 #black span {
    margin: 8px;
    display: inline-block;
    font-size: 18px;
}


.contact-section p {
    color: #FFF;
    margin: 20px;
    font-size: 18px;
    text-decoration: underline;
    text-decoration-color: #29e9bc;
}

.contact-section .form {
    margin-bottom: 25px;
    display: inline-block;
}





.contact-section span {
    color: #29e9bc;
}




.fuutter-section {
    background-color: #131313;
    padding-top: 50px;
    padding-bottom: 50px;
    box-sizing: border-box;
}


.fuutter-section .container h2 {
    color: #FFF;
    font-weight: 600;

}


.fuutter-section .container p {
    color: var(--primary);

    font-size: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif text
}


.fuutter-section .container button {
    padding: 15px;
    font-size: 18px;
    color: var(--black);
    background-color: #5775da;
    border-radius: 10px;
    margin: 30px;

}



.fuutter-section .container h4 {
    color: antiquewhite;
    margin-top: 30px;
}

.fuutter-section .container .left {
    padding-right: 30px;
}


.fuutter-section .container .center {
    padding-left: 100px;
}


.fuutter-section .container .right {
    padding-left: 100px;
}